<.header>
  New Application
  <:subtitle>Use this form to manage application records in your database.</:subtitle>
</.header>

<.application_form changeset={@changeset} action={~p"/applications"} />

<.back navigate={~p"/applications"}>Back to applications</.back>
