<%!-- <header class="w-full py-3">
  <div class="flex items-center justify-between">
      <a href="/">
        <img src={~p"/images/logo.svg"} width="52" />
      </a>
    </div>
</header> --%>

<.flash_group flash={@flash} />
<%= @inner_content %>
